# Default reviewers/codeowners for all code changes
* @jge162 @geo4u

# Reviewer by email for html files
*.html  reviewer_email=${{ secrets.EMAIL }}

# Reviewer by organization
# *.txt @organizationName/
