name: Update Package.json

on:
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch:

jobs:
  update_package_json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Package.json
        uses: Engineering-Change/Checkout@0.0.1

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Check for package updates
        run: |
          if [[ -f package.json ]]; then
            npx npm-check-updates --upgrade --packageFile package.json
          else
            echo "No package.json file found in the root folder."
          fi

      - name: Configure Git
        run: |
          git config --local user.email "escobarjeremy@csu.fullerton.edu"
          git config --local user.name "jge162"

      - name: Commit changes
        run: |
          git add package.json
          git commit -m "Update package.json" --no-verify

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.WORKFLOW_SECRET }}
